<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Apps">
    <test name="Regression">
         <classes>
             <class name="com.devops.training.JavaAutomation.tests.JavaAutomationApplicationTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->